@{
    ViewData["Title"] = "Почетна";
}

<h1>Систем за закажување термини</h1>
<p>Проектот е поврзан со Firebird база на податоци преку конфигурацијата во <code>appsettings.json</code>.</p>

<ul>
    <li><a asp-controller="Doctors" asp-action="Index">Преглед на доктори</a></li>
    <li><a asp-controller="Patients" asp-action="Index">Преглед на пациенти</a></li>
    <li><a asp-controller="Appointments" asp-action="Index">Преглед на термини</a></li>
</ul>
